<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.senyumpuan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.SenyumPuan">
        <activity
            android:name=".ui.desa_binaan.DesaBinaanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ruang_aman.RuangAmanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.sign_in.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".admin.ui.ruang_aman.ListChatActivity"
            android:exported="true" />
        <activity
            android:name=".admin.ui.desa_binaan.AddDesaBinaanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splashscreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>